:root {
    height: 100%;
}

body {
    height: 100%;
}

#app {
    height: 100%;
}

.avatar-container {
    display: flex;
    width: fit-content;
    height: 100%;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    margin-left: 16px;
    justify-content: center;
}

.avatar {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: gray;
    border: 4px solid darkslategray;
}